.site-header {
  font-family: 'baloopaaji';
  font-size: 1.5em;
  text-decoration: none;
  color: white;
}

.mat-button {
  font-family: 'montserrat';
  font-weight: bold;
}

.spacer {
  flex: 1 1 auto;
}
