<mat-card>
  <form [formGroup]="postForm">
    <mat-form-field>
      <input matInput
             type="text"
             name="title"
             formControlName="title">
    </mat-form-field>

    <mat-form-field>
      <textarea matInput
                rows="5"
                name="content"
                formControlName="content">
      </textarea>
    </mat-form-field>

    <button mat-raised-button
            color="primary"
            (click)="onAddPost()"
            [disabled]="!isFormValid()">
      Save post
    </button>
  </form>
</mat-card>
